@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');

#icon {
    width: 32px;
    height: 32px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative; 
    z-index: 2; 
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.welcome h1 {
    font-family: "Great Vibes", cursive;
    font-size: 80px;
    color: hsl(233, 94%, 7%);
    margin: 0;
}
.navbar{
    margin-top: 30px;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: hsl(233, 94%, 7%);
    font-size: 1rem;
    font-family: "Roboto Slab", sans-serif;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ccc;
}

.search {
    margin-top: 30px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* 0.5 pour une transparence de 50% */
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}


.search:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.search input {
    font-family: "Roboto Slab";
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    flex: 1;
    background-color: transparent; 
    color: hsl(233, 94%, 7%); 
}

.search button {
    font-family: "Roboto Slab";
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    background-color: transparent;
    color:#cccccc00 ;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background-color: #fce3ed;
    color:hsl(233, 94%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        font-family: "Roboto Slab", sans-serif;
        background-color: #f6c8c1;
        color: hsl(233, 94%, 7%);
        background-image: url("pics/Personal Brand Portfolio Website in Light Pink White Black Anti-Design Style.png");
        background-size: 100%; 
        background-repeat:repeat-2; 
        min-height: 100vh; 
        position: relative;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 255, 255, 0.4); 
        z-index: -1;
        box-sizing: border-box; 
    
    }
.categories {
    margin: 70px 0;
    text-align: center;
}


.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.row {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); 
    gap: 40px; 
    justify-content: center; 
    align-items: start; 
    padding: 20px; 
   
}   


.col-3 {
    text-align: center; 
    transition: transform 0.3s ease;
}

.col-3 img {
    width: 100%; 
    height: 300PX;
    max-width: 200px; 
    aspect-ratio: 3 / 4; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px; 
    transition: transform 0.3s ease-in-out;
}

.col-3 img:hover {
    transform: scale(1.05);
}

.book-info {
    text-align: center;
    margin-top: 15px;
}


.book-info h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', sans-serif;
    color: hsl(233, 94%, 7%);
}


.book-info p {
    font-size: 1rem;
    color: hsl(0, 0%, 47%);
    margin-bottom: 8px;
    opacity: 1; 
}

.book-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
    z-index: 101;
    color: hsl(233, 94%, 7%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    overflow-y: auto; 
}


.book-details p:last-of-type {
    margin-bottom: 40px; 
}

.btn {
    background-color:#fce3ed; 
    color: hsl(233, 94%, 7%);
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-top: 10px; 
    text-decoration: none; 
    font-family: 'Roboto Slab', sans-serif;
    font-size: large;
}

.btn:hover {
    background-color: #ccc; 
}



.book-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 100;
    backdrop-filter: blur(5px); 
}

.book-overlay.active {
    display: block; 
}

.book-details.active {
    display: block; 
}

.close-btn {
    font-size: 24px; 
    color:  #ccc; 
    cursor: pointer;
    text-align: right; 
    position: absolute; 
    top: 10px;
    right: 20px;
}



.row.row-2 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0; 
}


.row.row-2 h2 {
    text-align: center; 
    font-size: xxx-large;
    color: hsl(233, 94%, 7%);
    font-family: "Great Vibes";

}


.sorting-container {
    margin-top: 10px; 
}

.sorting-container select {
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    color: hsl(233, 94%, 7%);
    font-family: "Roboto Slab", sans-serif;
    background-color: white;
    display: block; 
    border-color: #fff;
}


  #bookDetails {
    position: fixed; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, 0); 
    width: 90%; 
    max-width: auto;
    max-height: 80%; 
    overflow-y: auto; 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    text-align: center; 
}

#bookDetails .close-btn {
    position: absolute; 
    top: 15px; 
    right: 20px; 
    font-size: 24px; 
    color: hsl(233, 94%, 7%); 
    cursor: pointer; 
    z-index: 1001; 
    margin-top: auto;
}
#bookImage {
    width: 40%; 
    max-width: 300px; 
    height: auto; 
    object-fit: contain; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    display: block;
    text-align: center; 
}
#bookTitle {
    font-size:xxx-large; 
    margin-bottom: 10px; 
    font-family: "Great Vibes";
    text-align: center;
}
#bookStock{
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: hsl(233, 94%, 7%);

}
#rating{
    margin-top: 10px; 
    margin-bottom: 20px; 
}
#bookAuthor{
    font-size:x-large; 
    margin-bottom: 10px; 
    font-family: "Roboto slab";
    text-align: center;
}
#desc{
    font-size:xx-large; 
    margin-bottom: 10px; 
    font-family: "Great Vibes";
    text-align: left;
}
#bookPrice::before {
    content: "Price: ";
    font-weight: bold;
    font-size: 18px;
    color: hsl(233, 94%, 7%);
    text-align: center;
}

#bookOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none;
}
#addToCartBtn {
    margin-top: 10px; 
    margin-bottom: 20px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
a {
    text-decoration: none;
    color: hsl(233, 94%, 7%); 
}
a:hover{
    color: #ccc;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
}

  .footer {
    margin-top: 50px;
    position: relative; 
    background-image: url('https://thesagittariusbooksblog.wordpress.com/wp-content/uploads/2016/09/14349169_752468691559409_373260679_n.gif');
    color: hsl(233, 94%, 7%);
    font-size: 14px;
    padding: 60px 0 20px;
    z-index: 1; 
    background-size: cover;
    width: 100%; 
    margin: 0;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); 
    z-index: -1;
    background-size: cover; 
    background-position: center;
}
  .footer h3 {
    color: hsl(233, 94%, 7%);
    margin-bottom: 5px;
    font-size: larger;
  }
  
  .footer-col-2, .footer-col-3,.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-3,.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  .copyright {
    margin-top: 40px;
    text-align: center;
    color:hsl(233, 94%, 7%) ;
  }
  .logo2{
    font-family: "Great Vibes";
    font-size:40px; 
    color:hsl(233, 94%, 7%); 
  }
 
textarea#comment {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
    font-family: "Roboto Slab", sans-serif;
    transition: border-color 0.3s;
}

textarea#comment:focus {
    border-color: #f6c8c1;
    outline: none;
}

.stars {
    display: flex;
    justify-content: center; 
    gap: 5px; 
    margin-bottom: 20px; 
}

.star {
    font-size: 2rem;
    color: gray;
    transition: color 0.3s;
}

.star.selected {
    color:#fce3ed ; 
}


#commentsList .comment {
    background-color:#fce3ed  ; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: "Roboto Slab", serif; 
}





